<snippet>
    <content><![CDATA[
//providing fallback for IE 10 + 11\n@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {\n  ${1:position}\n}
]]></content>
    <!-- Optional: Set a tabTrigger to define how to trigger the snippet -->
    <tabTrigger>targetie</tabTrigger>
    <!-- Optional: Set a scope to limit where the snippet will trigger -->
    <!-- <scope>source.scss</scope> -->
</snippet>


